[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{REDIS_ENDPOINT}}
Environment=CATALOGUE_PORT=80
Environment=CATALOGUE_HOST=catalogue-{{ENV}}.roboshop.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target